h3{
  text-align: center;
  color: inherit;
}
label{
  padding: 12px 20px;
  margin: 8px 15px;
}
input[type=text], [type=email], [type=date] {
  width: 70%;
  padding: 12px 0px;
  margin: 8px 30px;
  border: 0px;
  border-bottom: 2px solid #dee6f4;
  outline: none;
}
button{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
button:hover{
  transform:scale(1.75,1.75);
}
.right{
  display: none;
  background-image: url("../images/right_arrow.png");
  height: 24px;
  width: 24px;
}
.left{
  display: none;
  background-image: url("../images/left_arrow.png");
  height: 24px;
  width: 24px;
}
input[type=submit]{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.div-prop{
  width: 50%;
}
.flex-container{
  display: flex;
  justify-content: space-around;
}
h3{
  word-wrap: break-word;
}
